*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main{
    width:100vw;
    min-height:100vh;

    display:grid;
    place-items: center;
    background-color: aqua;
   
}
.outer-main{
    width:40rw;
    background-color:azure;
    padding:3rem 8rem;
    border-radius:1rem;

}
#submit{
    width:80px;
    height:30px;
    color:white;
    border:none;
    background-color: rgb(69, 69, 207);
    display:block;
    font-size:15px;
}


li{
    list-style-type:none;
    padding:10px;
}

#submit:hover{
    background-color:blue;
}

#scoreshow{
    background-color:rgb(156, 151, 151);
    margin-top:3rem;
    padding:3rem 4rem;
    box-shadow:0 1rem 1rem -0.7rem black;
}
.scorearea{
    display:none;
}
h4{
    color:white;
    font-size:15px;
    padding-bottom:10px;
}
.btn{
    width:120px;
    height:30px;
    color:white;
    border:none;
    background-color: rgb(69, 69, 207);
    display:block;
    text-align: center;
    font-size:15px;
}
.btn:hover{
    background-color:red;
}